

<section class="bg-primary" id="about">


    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center text-faded">
                <hr class="light">
                @ResourceProject.About.PageDescriptionTop
                <p></p>

            </div>
        </div>

        <div class="row no-gutter">


            <div class="col-lg-8 col-sm-12">
                <div class="project-category " style="text-align:center;font-family:CAROBTN;font-size:1.85em; font-weight:bold; ">
                    @ResourceProject.About.NoteTitle
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="content/img/portfolio/notes.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-lg-8 col-sm-6">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">

                            <div tyle="font-size:14px;" class="text-faded">
                                @Html.Raw(ResourceProject.About.NotesContent)
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-8 col-sm-12">
                <div class="project-category" style="text-align:center;font-family:CAROBTN; font-size:1.85em; font-weight:bold; ">

                    @ResourceProject.About.HistoryTitle
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="content/img/portfolio/history.jpg" class="img-responsive" alt="">
                </div>

                <div class="col-lg-8 col-sm-6">

                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">

                            <div style="font-size:14px;" class="text-faded">
                                @Html.Raw(ResourceProject.About.HistoryContent)
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-lg-8 col-sm-12">
                <div class="project-category " style="text-align:center;font-family:CAROBTN; font-size:1.85em; font-weight:bold;">
                    @ResourceProject.About.TaskTitle
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="content/img/portfolio/task.jpg" class="img-responsive" alt="">
                </div>

                <div class="col-lg-8 col-sm-6">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">

                            <div tyle="font-size:14px;" class="text-faded">
                                @Html.Raw(ResourceProject.About.TaskContent)

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <p class="text-faded">
                    @ResourceProject.About.PageDescriptionBottom
                </p>
                <hr class="light">
            </div>
        </div>

    </div>




</section>

